*.stl
*.obj
constant/triSurface/*.stl
constant/triSurface/*.obj
constant/triSurface/TPMS.stl
/constant/triSurface/TPMS.stl
constant/triSurface/
constant/polyMesh
constant/cell*
constant/cellToRegion
processor*
log.*
dynamicCode*
badFaces
*.foam
0/
postProcessing/
1*
2*
3*
4*
5*
6*
7*
8*
9*
*.dat
*.csv
control.csv
constant/triSurface/TPMS.stl
*.vtp
*.vtm*
*.vtu
Tb*
*.csv
*.pvsm
